
.project-thumb {
    height: 40vh;
    width: 40vw;
}

.multimedia-placeholder {
    margin-top: 5%;
    margin-bottom: 5%;
    width: 90%;
    max-height: 100%;
    overflow: hidden;
}

.multimedia-placeholder img{
    width: 100%;
    margin-bottom: 15px;
    max-height: 80%;
    object-fit: cover;
    filter: grayscale();
    transition: .5s;
}

.multimedia-placeholder a{
    text-decoration: none;
}

.multimedia-placeholder img:hover{
    object-fit: cover;
    filter: none;
    transition: .5s;
}

.multimedia-thumb {
    border: solid rgb(223, 223, 223) .3px;
    width: 33%;
    margin: 5px;
    height: 300px;
    border-radius: 5px;
    transition: .8s;
    
}

.multimedia-thumb:hover {
    width: 33%;
    height: auto;
    border-radius: 5px;
    transition: .5s;
    box-shadow: 0px 5px 20px rgb(219, 219, 219);
}

.nav-items li{
    list-style: none;
}

.nav-items a{
    font-weight: 100;
    font-size: 1.2em;
    padding-left: 20px;
    text-decoration: none;
    color: white;
 
}

.navigation-bar {
    width: 90%;
    margin-top: -3%;
    position: fixed;
    text-decoration: none;
    transition: 1s;
    mix-blend-mode: difference;
}

.project-desc {
    padding-left: 2%;
    padding-right: 2%;
    height: 40vh;
    width: 40vw;
}

.project-desc p{
    font-size: .8em;
}

.project-thumb img{
    max-height: 100px;
    max-width: 300px;
}

.section-head{
    margin-top: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: white 2px solid;
    border-bottom: white 2px solid;
}

.icon-container {
    margin-top: 25px;
    margin-left: 3%;
    margin-right: 3%;
}

.icon-container i{
    font-size: 5em;
}

.custom-cont{
    width: 100%;
    min-height: 100%;
    padding-bottom: 5%;
}

.bcolor-black {
    background-color: rgb(35, 35, 35);
    color: rgb(255, 255, 255);
}

.bcolor-white {
    background-color: rgb(255, 255, 255);
}

.line {
    border-top: black 1px solid;
    margin-top: 5px;
}

.line-black {
    border-top: white 1px solid;
    margin-top: 5px;
}

.container2 {
    padding-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
}

.align-head {
    display: flex;
    flex: 1;
    height: 95vh;
    flex-direction: column;
    justify-content: flex-end;
    line-height: 0;
}

.container2 h1{
    font-family: Oswald;
}

.align-head i{
    font-size: 20px;
}

.align-head p{
    margin-top: 20px;
    font-size: 1em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.align-head a{
    color: black;
    transition: .5s;
}

.align-head a:hover{
    color: rgb(0, 140, 255);
    transition: .5s;
}