<<<<<<< HEAD
    #myVideo{
      object-fit: cover;
      background-repeat: no-repeat;
      width: 100%;
      
      max-height: 100vh;
      z-index: -20;
    }

    .videocontainer {

      overflow: hidden;
    }

    .videocontainer video{
      max-height: 100vh !important;
      object-fit: cover;
      background-repeat: no-repeat;
      z-index: -20;
      width: 100%;
      position: absolute;
    }
    
    
    .head-titles{
      display: flex;
      flex: 1;
      margin-bottom: 15px;
      height: 70vh;
      flex-direction: column;
      justify-content: flex-end;
    }

    .head-titles h1, h2{
      margin: 0;
      margin-left: none;
    }    

    .web-thumbnail {
      height: 300px;
      max-width: 400px;
      overflow: hidden;
      transition: .3s;
    }

    .web-thumbnail div:hover{
      background-color:#e63946;
      transition: .3s;
      border: none;
    }

    .logo {
      display: flex;
      align-items: center;
      height: 250px;
      transition: 5s;
      
    }
    .logo svg{
      display: block;
      margin: 0 auto;
      flex-direction: middle;
      height: 100px;
      fill: black;
      padding-top: -100px;
    }

    .logo:hover svg{
      fill: white;
      transition: .3S;
    }

    
    .title h3{
      font-family: Oswald;
    }

    .title h1{
      font-family: Oswald;
    }

    .subtitle h3{
      align-content: left;
      justify-content: start;
      font-family: Oswald;
    }

    .subtitle h6{
      font-family: Oswald;
    }

    .no-deco-list li{
        list-style: none;
    }

    .container4 {
      margin-top: 5vh;
  }
=======
    .no-deco-list li{
        list-style: none;
    }
>>>>>>> 276d0509fd16dbb1ab5d089e8275f36c342bb14b
    
    .container3 {
        margin-top: 5vh;
        margin-left: 5vw;
        margin-right: 5vw;
    }

<<<<<<< HEAD
    .background-white {
      margin: none;
      z-index: 1;
      background-color: BLACK;
      min-height: 100%;
      max-width: 100%;
    }

=======
>>>>>>> 276d0509fd16dbb1ab5d089e8275f36c342bb14b
    .container3 h1{
        font-family: Oswald;
    }
    
    .container2 {
        margin-left: 5vw;
        margin-right: 5vw;
    }
    
    .subtext {
        font-size: .75rem;
<<<<<<< HEAD
        font-family: 'Segoe UI';
    }

    .subtext-wd {
      margin-bottom: 5vh;
      font-size: .75rem;
      font-family: 'Segoe UI';
  }

    .subtext-wd i{
      font-size: 75px;
      transition: .5s;
    }

    .subtext-html i:hover{
      color: red;
      transition: .5s;
    }

    .subtext-css i:hover{
      color: blue;
      transition: .5s;
    }

    .subtext-js i:hover{
      color: yellow;
      transition: .5s;
    }

    .subtext-laravel i:hover{
      color: #F05340;
      transition: .5s;
    }

    
    .subtext-linkedin a:hover, i:hover{
      color: #0e76a8;
      transition: .5s;
    }

    .subtext-linkedin a{
      text-decoration: none;
      transition: .5s;
      color: white;
    }

    .subtext-react i:hover{
      color: #61DBFB;
      transition: .5s;
    }

    .subtext-php i:hover{
      color: #474A8A;
      transition: .5s;
=======
        margin-bottom: 2vh;
        font-family: 'Segoe UI';

>>>>>>> 276d0509fd16dbb1ab5d089e8275f36c342bb14b
    }

    .subtext-alt {
        text-align: right;
        font-size: .75rem;
        margin-bottom: 2vh;
        font-family: 'Segoe UI';

    }

    .border-btm {
<<<<<<< HEAD
        border-bottom: 2px white solid;
        margin-bottom: 2vh;
    }

    .border-btm-blk {
      border-bottom: 2px black solid;
      margin-bottom: 2vh;
  }
    
    .head-adjustment{
=======
        border-bottom: 1px white solid;
        margin-bottom: 2vh;
    }
    
    .head-adjustment{
        margin-top: 70vh;
>>>>>>> 276d0509fd16dbb1ab5d089e8275f36c342bb14b
        color: white;
        font-family: Oswald;
        transition: .5s;
    }

    .head-adjustment h1{
        color: white;
        background-attachment: fixed;
        
    }

<<<<<<< HEAD
    .head-adjustment h2{
=======
    .head-adjustment h4{
>>>>>>> 276d0509fd16dbb1ab5d089e8275f36c342bb14b
        color: white;
        background-attachment: fixed;
        text-align: right;
    }

    .cont-1-blue {
    background-color: #06357a;
    min-height: 100vh;
    z-index: 2;
     }
    
    .invert {
      mix-blend-mode: difference;
    }
    
    .cont-1 {
     background-color: white;
     min-height: 100vh;
    }
    
    .cont-1-blk {
<<<<<<< HEAD
      min-height: 100vh;
      z-index: -50;
=======
      background-color: black;
      min-height: 100vh;
      z-index: -2;
>>>>>>> 276d0509fd16dbb1ab5d089e8275f36c342bb14b
      overflow: hidden;
      margin-bottom: 2vh;
    }
    
    .cont-1-red {
      background-color: red;
      min-height: 100vh;
      overflow: hidden;
    }
    
    .bkg-building {
      background-image: url(../images/image1.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
      background-color: black;
      z-index: 1;
    }
<<<<<<< HEAD

    .bkg-keyboard {
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
      background-color: black;
      z-index: -1;
    }
=======
>>>>>>> 276d0509fd16dbb1ab5d089e8275f36c342bb14b
    
     .navigation-bar{
      display: block;
      width: 100vw;
      max-height: 10vh;
      overflow: hidden;
      position: fixed;
      z-index: 2;
      opacity: 100%;
      transition: top 0.8s;
    }
    
     .home-buttons a{
       display: inline;
       text-decoration: none;
       color: rgb(255, 255, 255);
       font-weight: normal;
       font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
       transition: 0.5s;
     }
    
     .home-buttons a:hover{
       color: rgb(255, 208, 107);
       font-weight: 600;
       transition: 0.5s;
     
    }
    
     .inline li{
       overflow-wrap: normal;
       text-transform: uppercase;
       list-style: none;
       display: inline-block;
       font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
       padding: min(50px,1.5%);
       font-weight: lighter;
    }